body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin-bottom: 0rem;
  font-size: 4.5rem;
  font-family: "Sacramento", cursive;
  color: #726a95;
  line-height: 1;
}

h2 {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: #726a95;
  margin-bottom: 2rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #2c003e;
  margin: 20px;
}

hr {
  border-color: #957d95;
  border-style: none;
  border-top-style: dotted;
  border-width: 0.6rem;
  width: 5rem;
  margin: 5rem auto;
}

p {
  color: #383e56;
}

a:hover {
  color: #383e56;
}

.top-container {
  background-color: #ddd9e5;
  position: relative;
  padding-top: 4rem;
}

.middle-container {
  background-color: #f4f6ff;
  padding: 6rem 0;
}

.bottom-container {
  background-color: #957d95;
  padding: 3.5rem 0 1rem 0 ;
}

.my-name {
  padding-top: 2rem;
  font-size: 0.8rem;
  color: #f4f6ff;
  font-family: "Montserrat", sans-serif;
}

.top-cloud {
  position: relative;
  left: 30px;
  top: -50px;
}

.bottom-cloud {
  position: relative;
  left: -90px;
  top: 60px
}

.footer-link {
  color: #ddd9e5;
  padding: 0 1.5rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.pro {
  font-weight: normal;
  margin-top: 0;
}

.skill-row {
  width: 50%;
  margin: 50px auto 80px auto;
  text-align: left;
  line-height: 4;
}

.htmlcss-img {
  width: 30%;
  margin-right: 20px;
  float: left;
}

.javascript-img {
  width: 30%;
  margin-left: 50px;
  float: right;
}

.btn {
  margin: 4rem auto 0 auto;
  background: #957d95;
  background-image: -webkit-linear-gradient(top, #957d95, #6a636a);
  background-image: -moz-linear-gradient(top, #957d95, #6a636a);
  background-image: -ms-linear-gradient(top, #957d95, #6a636a);
  background-image: -o-linear-gradient(top, #957d95, #6a636a);
  background-image: linear-gradient(to bottom, #957d95, #6a636a);
  -webkit-border-radius: 41px;
  -moz-border-radius: 41px;
  border-radius: 41px;
  color: rgba(255, 255, 255, 0.89);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 11px;
  box-shadow: 1px 1px 9px 0px #000000;
  -webkit-box-shadow: 1px 1px 9px 0px #000000;
  -moz-box-shadow: 1px 1px 9px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #000000 0px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
